



p{
    text-align: justify;
    font-size: 15px;
    font-family: Consolas;
    width: 100%;
}

.grid-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 60% 40%;
}

.grid-item{

}