html{
    background-image: url(images/background.jpg);
    color: GreenYellow;
    font-size: 15px;
    font-family: Consolas;
}
figure{

}

img{

}

code {
    border: 2Spx solid #ccc;
    background-color: GreenYellow;
    color: black;
}

.grid-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45% 45%;
    grid-collumn-gap: 2.5%
    width:100%;
}

.grid-item{
    #background-color: black;   
}

h1{
    margin-left: 3%;
}

h2{
    margin-left: 3%;
    font-size: 12px;
}

p{
    text-align: justify;
    font-family: Consolas;
    width: 100%;
}
a{
    color:green;
}



