h1{
    text-align: center;
    font-size: 40px;
    
}
p{
    margin-top: 50px;
    margin-bottem: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: verdana;
    font-size: 14px;
}